{% extends 'backend/basebackend.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block main %}
    <h1 class="mb-3 mt-3">Liste des tags</h1>
    {{ include('backend/codex/tag/_form.html.twig') }}

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tag</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr class="table-light">
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <a title="Editer le tag" class="btn btn-primary" href="{{ path('backend_tag_edit', {'id': tag.id}) }}"><i class="fas fa-edit"></i></a>
                    {{ include('backend/codex/tag/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Vous n'avez pas encore crée de tag</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}