{% extends 'base.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
        <div class="category-header">
            <h2>Poster dans <em>{{subcategory.name}}</em></h2>
        </div>

        {{ include('forum/thread/_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/ckeditor-forum/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/ckeditor-forum/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'thread_content' );
    </script>
{% endblock %}
