{% extends 'backend/basebackend.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Date de naissance</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive ? 'Actif' : 'Désactivé' }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ user.dateInserted ? user.dateInserted|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('backend_user_show', {'id': user.id}) }}">Afficher le profil de l'utilisateur</a>
                    <a class="btn btn-success" href="{{ path('backend_user_edit', {'id': user.id}) }}">Modifier l'utilisateur</a>
                    {{ include('backend/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
