{% extends 'backend/basebackend.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Date de naissance</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive ? 'Actif' : 'Désactivé' }}</td>
                <td>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</td>
                <td>{{ user.dateInserted ? user.dateInserted|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a title="Afficher le profil de l'utilisateur" class="btn btn-info" href="{{ path('backend_user_show', {'id': user.id}) }}"><i class="fas fa-user"></i></a>
                    <a title="Modifier l'utilisateur" class="btn btn-primary" href="{{ path('backend_user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit"></i></a>
                    {% if user.isActive == true %}
                        <a title="Désactiver l'utilisateur" class="btn btn-warning" href="{{ path('backend_user_hide', {'id': user.id}) }}"><i class="fas fa-minus-circle"></i></a>
                    {% else %}
                        <a title="Activer l'utilisateur" class="btn btn-success" href="{{ path('backend_user_hide', {'id': user.id}) }}"><i class="fas fa-thumbs-up"></i></a>
                    {% endif %}
                    {{ include('backend/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
