{% extends 'base.html.twig' %} 
{% block main %}
{{ include('codex/aside.html.twig') }}
    <div class="wrapper">
    {% for tag in article.tags %}
        <a class="btn btn-tag" href="">{{ tag.name }}</a>
    {% endfor %}
        
        <article class="container container-article">
            <h1>{{article.title}}</h1>
            <div class="article-content">
                {{article.content|filter_black_listed()|raw }}
            </div>
            <small>Publié le {{article.dateInserted|date("d/m/Y")}}.</small>
        </article>
        <section class="container container-comment">
            <h2>Commentaires</h2>
            {% for comment in article.comments %}
            {% if comment.status == true %}
                <div class="comment">
                    <div class="comment-header">
                        <h4>{{comment.author.username}}</h4> <small>Posté le {{comment.dateInserted|date("d/m/Y")}}</small> 
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a title="Masquer le commentaire" class="btn" href="{{path('hide_comment', {'id' : comment.id }) }}"><i class="far fa-eye-slash"></i></a>
                        {% endif %}
                    </div>
                    <p>{{comment.content}}</p>
                </div>
                {% elseif is_granted('ROLE_MODERATOR') %}
                <div class="comment">
                    <div class="comment-header">
                        <h4>{{comment.author.username}}</h4> <small>Posté le {{comment.dateInserted|date("d/m/Y")}}</small>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a title="Masquer le commentaire" class="btn" href="{{path('hide_comment', {'id' : comment.id }) }}"><i class="far fa-eye-slash"></i></a>
                        {% endif %}
                    </div>
                    <p>{{comment.content}}</p>
                </div>
            {% endif %}
            {% endfor %}
             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{form_start(form)}}
                 {{ form_widget(form) }}
                 <button type="submit">Poster</button>
                {{form_end(form)}}
            {% endif %}
        </section>
        <a class="btn" href="{{path('codex')}}">Retour</a>
    </div>
{% endblock %}