{% extends 'base.html.twig' %}
{% block title %}Aetherlust{% endblock %}
{% block body %}
    <body class="homepage">
        <main>                    
            <div class="centering">
                <a href="{{ path('homepage') }}">
                    <img class="logo-homepage" src="{{asset('image/bigtitle.png')}}" alt="logo">
                </a>
                <div class="log-nav">
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="connexion">
                                Bienvenue
                                <a href="{{path('user_profile', {'id': app.user.id })}}">{{ app.user.username }}</a>
                            </li>
                            <li class="connexion">
                                <a href="{{path('security_logout')}}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="connexion">
                                <a href="{{path('security_registration')}}">Inscription</a>
                            </li>
                            <li class="connexion">
                                <a href="{{path('security_login')}}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="nav-wrap">
                    <ul>
                        <li class="home">
                            <a class="{{ app.request.get('_route') == 'codex' ? 'active' }}" href="{{path('codex')}}">Codex</a>
                        </li>
                        <li class="home">
                            <a class="{{ app.request.get('_route') == 'forum_index' ? 'active' }}" href="{{path('forum_index')}}">Forum</a>
                        </li>
                        <li class="home">
                            <a href="{{ path('room_new') }}">Room</a>
                        </li>
                        {% if is_granted('ROLE_MODERATOR') %}
                        <li class="home">
                            <a href=" {{path('home_backend')}}">Administration</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="content">
                <p>Aetherlust est un jeu de rôle à la fois textuel et plateau.</p>
                <p>Le site se décompose en trois parties : le <em>Codex</em> dans lequel vous retrouverez les règles, l'histoire et les annexes de l'univers, le <em>Forum</em> 
                sur lequel vous pourrez écrire les périples de votre personnage et enfin la <em>Room</em>, où vous pourrez vivre des aventures à plusieurs face à un Maître de Jeu. 
                </p>
            </div>
            <div class='logo-place'>
                <a href="{{path('about')}}#nous">
                    <img class='logo-rs'src="{{asset('image/34227.svg')}}"></img>
                </a>
                <a href="https://discord.gg/Xk8sWJ4">
                    <img class='logo-rs'src="{{asset('image/Discord-Logo-Black.svg')}}"></img>
                </a>
                <a href="https://www.twitch.tv/projet_wordsmith">
                    <img class='logo-rs' src=" {{asset('image/twitch.svg')}} "></img>
                </a>
                <a href="https://twitter.com/ProjetWordsmith">
                    <img class='logo-rs'src="{{asset('image/twitter-3.svg')}}"></img>
                </a>
            </div>
            <div class="foot-content">
                <div>
                    <small>Copyright Wordsmith-2018. Tous droits réservés</small>
                </div>
                <a href="{{ path('about') }}">A propos</a>
                |
                <a href="{{ path('CGU') }}">Conditions Générales d'UItilisation</a>
                |
                <a href='{{path('contact')}}'>Contactez nous</a>
            </div>
        </div>
    </main>
 </body>
{% endblock %}
