{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}}{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
    <div class="category-header">
        <h2>{{subcategory.name}}</h2>
        <p>{{subcategory.description}}</p>
    </div>

    {% for thread in threads %}
        <div class="thread">
            <div class="container thread-description">

                <h3><a href="{{path('thread_show', {'id': thread.id })}}">{{thread.title}}</a></h3>
                <small>{{thread.subtitle}}</small>
                <h4>{{thread.author.username}}</h4>
            </div>
            <div class="container thread-statistic">
                <img src="{{ asset('image/nonew.png') }}" class="icon">
                <small> {{thread.posts|length}} Réponses</small>
            </div>
            <div class="container thread-last-message">
                <small>15/08/2018</small>
                <a href="#">Prénom Nom</a>
            </div>
        </div>
        {% endfor %}
    </div>
        <div class="text-center">
            {# Si page supérieure à 1 on affiche un bouton précédent qui mène à la page-1 #} 
            {% if page > 1 %}
            <a href="{{path('forum_subcategory',{'name':subcategory.name,'page':page -1})}}" class="btn btn-info">Précédent</a>
            {% endif %} {# si page inférieure à la page max calculée alors on affiche un bouton suivant qui mène à la page +1 #} 
            {% if page < pageMax %}
            <a href="{{path('forum_subcategory',{'name':subcategory.name,'page':page +1})}}" class="btn btn-primary">Suivant</a>  
            {% endif %}
        </div>
    <a class="btn" href="{{path('thread_new', {'subcategory_id' : subcategory.id})}}">Poster un nouvea sujet</a>
 </div>

{% endblock %}
