{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}}{% endblock %}

{% block main %}
<div class="wrapper">
    <a class="btn" href="{{path('thread_new', {'subcategory_id' : subcategory.id})}}">Poster un nouveau sujet</a>
    <div class="container container-forum">
    <div class="category-header">
        <h2>{{subcategory.name}}</h2>
        <p>{{subcategory.description}}</p>
    </div>
    {% for thread in subcategory.threads %}
    <div class="container-subcategory">
        <div class="container description">
            <h3><a href="{{path('thread_show', {'id': thread.id })}}">{{thread.title}}</a></h3>
           {% if is_granted('ROLE_MODERATOR') %}
                {{ form_start(form) }}
                {{form_row(form.subcategory,{'label':false})}}
                <button class="btn btn-success mb-2">{{ button_label|default('Modifié') }}</button>
                {{form_end(form)}}
            {% endif %}
        </div>
        <div class="container statistic">
            <img src="">
            <small> {{thread.posts|length}} Réponses</small>
        </div>
    {% for thread in subcategory.threads %}
        <div class="thread">
            <div class="container thread-description">

                <h3><a href="{{path('thread_show', {'id': thread.id })}}">{{thread.title}}</a></h3>
                <small>{{thread.subtitle}}</small>
                <h4>{{thread.author.username}}</h4>

            </div>
            <div class="container thread-statistic">
                <img src="{{ asset('image/nonew.png') }}" class="icon">
                <small> {{thread.posts|length}} Réponses</small>
            </div>
            <div class="container thread-last-message">
                <small>15/08/2018</small>
                <a href="#">Prénom Nom</a>
            </div>
        </div>
    {% endfor %}
     </div> 
<a class="btn" href="{{path('thread_new', {'subcategory_id' : subcategory.id})}}">Poster un nouveau sujet</a>
</div>
{% endblock %}
