{% extends 'backend/basebackend.html.twig' %}

{% block title %}Article index{% endblock %}

{% block main %}
    <h1>Liste des articles</h1>
    <a class="btn btn-info mb-2" href="{{ path('backend_article_new') }}">Créer un nouvel article</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre de l'article</th>
                <th>Date de publication</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.dateInserted ? article.dateInserted|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.status ? 'Visible' : 'Non visible' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('backend_article_show', {'id': article.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('backend_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}