{% extends 'backend/basebackend.html.twig' %}

{% block title %}Article index{% endblock %}

{% block main %}
    <h1 class="mb-3 mt-3">Liste des articles</h1>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Article N°</th>
                <th>Titre de l'article</th>
                <th>Date de publication</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.dateInserted ? article.dateInserted|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ article.status ? 'Visible' : 'Non visible' }}</td>
                <td>
                    <a title="Voir l'article" class="btn btn-info" href="{{ path('backend_article_show', {'id': article.id}) }}"><i class="fab fa-readme"></i></a>
                    <a title="Editer l'article" class="btn btn-primary" href="{{ path('backend_article_edit', {'id': article.id}) }}"><i class="fas fa-pen-nib"></i></a>
                    {% if article.status == true %}
                        <a title="Masquer l'article sur le Codex" class="btn btn-warning" href="{{ path('backend_article_hide', {'id': article.id}) }}"><i class="fas fa-eye-slash"></i></a>
                    {% else %}
                        <a title="Rendre l'article visible sur le Codex" class="btn btn-success" href="{{ path('backend_article_hide', {'id': article.id}) }}"><i class="fas fa-eye"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Vous n'avez rédigé aucun article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success mb-2" href="{{ path('backend_article_new') }}">Créer un nouvel article</a>
{% endblock %}