{% extends 'backend/basebackend.html.twig' %}

{% block title %}New Article{% endblock %}

{% block main %}
    <a class="btn btn-primary mb-2" href="{{ path('backend_article_index') }}">Retour</a>
    <h1>Rédiger un nouvel article</h1>

    {{ include('backend/codex/article/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'ckeditor' );
    </script>
{% endblock %}