<div
 {% if app.user.id == room.dungeonMaster.id %}
 data-role="dm"
{% else %}
  data-role="player"
{% endif %}
  data-playerid={{app.user.id}}
  data-name={{app.user.username}}
  data-room={{room.id}}
  id="root"></div>
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('build/main.css') }}">      
   <link rel="stylesheet" href="{{ asset('build/app.css') }}">      
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}