{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
        <div class="category-header">
            <h2>{{ thread.title }}</h2>
            <h3>{{ thread.subtitle }}</h3>
        </div>
        {% for post in thread.posts %}
        <div class="wrapper-flex">
            <div class="left-side">
                {{ post.author.username }}
            </div>
            <div class="right-side">
                <div class="container container-post">
                    {{ post.content|raw }}
                    {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{path('post_new', {'thread_id' : thread.id})}}">Répondre</a>
</div>

{% endblock %}
