{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
        <div class="category-header">
            <h2>{{ thread.title }}</h2>
            <h3>{{ thread.subtitle }}</h3>
        </div>
        <div class="container-post">
        {% for post in thread.posts %}
            {{ post.content }}
            {{ post.author.username }}
            {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
        {% endfor %}
    </div>
    <a href="{{path('post_new', {'thread_id' : thread.id})}}">Répondre</a>
</div>

{% endblock %}
