{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}}{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
    <div class="category-header">
        <h2>{{subcategory.name}}</h2>
        <p>{{subcategory.description}}</p>
    </div>
    {% for thread in threads %}
        <div class="thread">
            <div class="thread-icon">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% for hasReadThread in thread.hasReadThreads %}
                    {% if hasReadThread.user.id is defined %}
                        {% if hasReadThread.user.id == app.user.id and hasReadThread.thread.id == thread.id %} {# On vérifie que le user id de la thread actuelle est bien celui du user actuellement connecté, DONC PAS TOUCHE ET PAS DE ELSE #}
                            {% if hasReadThread.postCount < thread.posts|length %} 
                                <img src="{{ asset('image/new.png') }}" class="icon">
                            {% else %}
                                <img src="{{ asset('image/nonew.png') }}" class="icon">
                            {% endif  %}
                        {% endif %} 
                    {% endif %} 
                {% endfor %}
            {% else %}
                <img src="{{ asset('image/nonew.png') }}" class="icon">
            {% endif %}
            </div>
            <div class="container thread-description">
                <h3><a href="{{path('thread_show', {'id': thread.id })}}">{{thread.title}}</a></h3>
                {% if thread.subtitle is defined %}
                <small>{{thread.subtitle}}</small>
                {% endif %}
            </div>
            <div class="thread-author">
                <a href="{{path('user_profile',{id:thread.author.id})}}" style="color:{{thread.author.characterProfile.groupForum.color}};">{{thread.author.username}}</a>
            </div>
            <div class="container thread-statistic">
                <small>{{thread.posts|length}} Rép.</small>
            </div>
            <div class="container thread-last-message">
                <small>15/08/2018</small>
                <a href="#">Prénom Nom</a>
            </div>
        </div>
    {% endfor %}
    </div>
        <div class="text-center">
            {# Si page supérieure à 1 on affiche un bouton précédent qui mène à la page-1 #} 
            {% if page > 1 %}
            <a href="{{path('forum_subcategory',{'name':subcategory.name,'page':page -1})}}" class="btn-pagination"><i class="fas fa-arrow-left"></i> Précédent</a>
            {% endif %} {# si page inférieure à la page max calculée alors on affiche un bouton suivant qui mène à la page +1 #} 
            {% if page < pageMax %}
            <a href="{{path('forum_subcategory',{'name':subcategory.name,'page':page +1})}}" class="btn-pagination">Suivant
            <i class="fas fa-arrow-right"></i></a>  
            {% endif %}
        </div>
    <a class="btn" href="{{path('thread_new', {'subcategory_id' : subcategory.id})}}">Poster un nouveau sujet</a>
 </div>

{% endblock %}