{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper">
        <ul class="tagbar">
                {% for tag in tags %}
            <li>
                <a href="{{path('search_by_tag',{'id':tag.id})}}">{{tag.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% for article in articles %}
            <section class="container">
               <h2><a class="article-link" href="{{ path('show',{'id':article.id}) }}">{{article.title}}</a></h2>
                <small>Publié le {{article.dateInserted|date("d/m/Y")}} à {{article.dateInserted| date("H:i")}}</small>
                <div class="tags">
                {% for tag in article.tags %}
                    <a class="btn btn-tag" href="{{path('search_by_tag',{'id':tag.id})}}">{{tag.name}}</a>
                {% endfor %}
                </div>
            </section>
        {% endfor %}
         <a href="{{path('homepage')}}">Revenir à l'acceuil</a>
    </div>
{% endblock %}

