{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container">
        <h1>Bienvenue {{ app.user.username }}</h1>
        <a class="btn" href="{{path('user_profile_edit', {'id': app.user.id })}}">Modifier mon profil</a> <a class="btn" href="{{path('characterprofile_edit', {'id': app.user.characterProfile.id })}}">Profil forum</a> <a class="btn" href="#">Voir mes sujets</a> <a class="btn" href="#">Voir mes réponses</a><a class="btn" href="{{ path('room_index') }}">Mes rooms</a>
        <div class="container-profil">
            <img src="{{user.characterProfile.avatar}}">
            <div class="information">
            <h2>Informations générales</h2>
            <ul>
                <li>
                    <span class="profile-label">Nom d'utilisateur :</span> {{ user.username }}
                </li>
                <li>
                    <span class="profile-label">Email :</span> {{ user.email}}
                </li>
                <li>
                    <span class="profile-label">Date de naissance :</span> {{ user.birthdate|date("d-m-Y")}}
                </li>
            </ul>
            <h2>Profil du personnage</h2>
            <ul>
                <li>
                    <span class="profile-label">Age :</span> {{ user.characterProfile.age}}
                </li>
                <li>
                    <span class="profile-label">Race :</span> {{ user.characterProfile.race}}
                </li>
                <li>
                    <span class="profile-label">Classe :</span> {{ user.characterProfile.class}}
                </li>
                <li>
                    <span class="profile-label">Caste sociale :</span> {{ user.characterProfile.socialCast}}
                </li>
                <li>
                    <span class="profile-label">Localisation :</span> {{ user.characterProfile.localisation}}
                </li>
                <li>
                    <span class="profile-label">Faits divers :</span> {{ user.characterProfile.miscellaneous}}
                </li>
            </ul>
            <a class="btn" href="{{ user.characterProfile.link1}}">Fiche de présentation</a> <a class="btn" href="{{ user.characterProfile.link2}}">Liens</a>
               
                
                
            </div>
        </div>
    </div>
 </div>
{% endblock %}
