{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">
        <h1>Bienvenue <em>{{ app.user.username }}</em></h1>
        <div class="container-profil">
            <div class="left-side">
                <img src="{{user.characterProfile.avatar}}">
                <a class="btn" href="{{ user.characterProfile.link1}}">Fiche de présentation</a> 
                <a class="btn" href="{{ user.characterProfile.link2}}">Liens</a>
            </div>
            <div class="right-side">
                <div id="tabs">
                    <ul class="tabs-header">
                        <li><a href="#tabs-1">Profil</a></li>
                        <li><a href="#tabs-2">Mes sujets</a></li>
                        <li><a href="#tabs-3">Mes rooms</a></li>
                    </ul>
                    <div id="tabs-1">
                    <div class="profile-title">
                        <h2>Informations générales</h2> 
                        <a class="btn btn-edit" href="{{path('user_profile_edit', {'id': app.user.id })}}">Modifier</a>
                    </div>
                    <ul>
                        <li>
                            <span class="profile-label">Nom d'utilisateur :</span> {{ user.username }}
                        </li>
                        <li>
                            <span class="profile-label">Email :</span> {{ user.email}}
                        </li>
                        <li>
                            <span class="profile-label">Date de naissance :</span> {{ user.birthdate|date("d-m-Y")}}
                        </li>
                    </ul>
                    <div class="profile-title">
                        <h2>Profil du personnage </h2> 
                        <a class="btn btn-edit" href="{{path('characterprofile_edit', {'id': app.user.characterProfile.id })}}">Modifier</a>
                    </div>
                    <ul>
                        <li>
                            <span class="profile-label">Age :</span> {{ user.characterProfile.age}}
                        </li>
                        <li>
                            <span class="profile-label">Race :</span> {{ user.characterProfile.race}}
                        </li>
                        <li>
                            <span class="profile-label">Classe :</span> {{ user.characterProfile.class}}
                        </li>
                        <li>
                            <span class="profile-label">Caste sociale :</span> {{ user.characterProfile.socialCast}}
                        </li>
                        <li>
                            <span class="profile-label">Localisation :</span> {{ user.characterProfile.localisation}}
                        </li>
                        <li>
                            <span class="profile-label">Faits divers :</span> {{ user.characterProfile.miscellaneous}}
                        </li>
                    </ul>
                     
                    
                    </div>
                    <div id="tabs-2">
                        <p>
                            Altera sententia est, quae definit amicitiam paribus officiis ac voluntatibus. Hoc quidem est nimis exigue et exiliter ad calculos vocare amicitiam, ut par sit ratio acceptorum et datorum. Divitior mihi et affluentior videtur esse vera amicitia nec observare restricte, ne plus reddat quam acceperit; neque enim verendum est, ne quid excidat, aut ne quid in terram defluat, aut ne plus aequo quid in amicitiam congeratur. Altera sententia est, quae definit amicitiam paribus officiis ac voluntatibus. Hoc quidem est nimis exigue et exiliter ad calculos vocare amicitiam, ut par sit ratio acceptorum et datorum. Divitior mihi et affluentior videtur esse vera amicitia nec observare restricte, ne plus reddat quam acceperit; neque enim verendum est, ne quid excidat, aut ne quid in terram defluat, aut ne plus aequo quid in amicitiam congeratur. Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis Parthicarum gentium a arma minantium impetus frangerentur. Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum. Altera sententia est, quae definit amicitiam paribus officiis ac voluntatibus. Hoc quidem est nimis exigue et exiliter ad calculos vocare amicitiam, ut par sit ratio acceptorum et datorum. Divitior mihi et affluentior videtur esse vera amicitia nec observare restricte, ne plus reddat quam acceperit; neque enim verendum est, ne quid excidat, aut ne quid in terram defluat, aut ne plus aequo quid in amicitiam congeratur. Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis Parthicarum gentium a arma minantium impetus frangerentur. Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum. Cum haec taliaque sollicitas eius aures everberarent expositas semper eius modi rumoribus et patentes, varia animo tum miscente consilia, tandem id ut optimum factu elegit: et Vrsicinum primum ad se venire summo cum honore mandavit ea specie ut pro rerum tunc urgentium captu disponeretur concordi consilio, quibus virium incrementis Parthicarum gentium a arma minantium impetus frangerentur. Haec ubi latius fama vulgasset missaeque relationes adsiduae Gallum Caesarem permovissent, quoniam magister equitum longius ea tempestate distinebatur, iussus comes orientis Nebridius contractis undique militaribus copiis ad eximendam periculo civitatem amplam et oportunam studio properabat ingenti, quo cognito abscessere latrones nulla re amplius memorabili gesta, dispersique ut solent avia montium petiere celsorum.
                        </p>
                    </div>
                    <div id="tabs-3">
                       <div class="profile-title">
                            <h2>J'ai créé les parties</h2>
                        </div>
                        {% for room in rooms %}
                        {% if room.dungeonmaster.username == user.username %}
                        <div class="room-content">
                            <h3>{{ room.name }}</h3> 
                            <div class="room-content-btn">
                                <a class="btn" href="{{ path('room_edit', {'id': room.id}) }}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <form action="{{path('room_access')}}" method="GET">
                                    <input id="code" name="code" type="hidden" value="{{room.code}}">
                                    <input id="id" name="id" type="hidden" value="{{user.id}}">
                                    <button type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="profile-title">
                            <h2>J'ai rejoint les parties</h2>
                        
                        </div>
                        {% for room in rooms %}
                        {% for participant in room.participants %}
                        {% if participant.username == user.username %}
                            <div class="room-content">
                                <h3>{{ room.name }}</h3>
                                <div class="room-content-btn">
                                    <form action="{{path('room_access')}}" method="GET">
                                        <input id="code" name="code" type="hidden" value="{{room.code}}">
                                        <input id="id" name="id" type="hidden" value="{{user.id}}">
                                        <button type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}    
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>                            
        </div>
    </div>
 </div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
{% endblock %}