{% extends 'base.html.twig' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block main %}
<div class="wrapper">
    {{ include('forum/jumbotron.html.twig') }}
    <div id="top"></div>
    {{ include('forum/thread/threadaction.html.twig') }}
    <div class="container container-forum">
        <div class="category-header">
            <div class="title">
                <h2>{{ thread.title }}</h2>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if thread.author.id == app.user.id or is_granted('ROLE_MODERATOR') %}
                    <a title="Modifier le titre du sujet" href="{{path('thread_edit', {'slug' : thread.slug})}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                {% endif %}
            </div>            
        </div>
        {% for post in posts %}
            {% if post.status == true %}
            <div class="wrapper-flex">
                <div class="left-side">
                    <div class="author-info">
                        {% if post.author.characterProfile.characterName is defined %}
                        <h4><a href="{{path('user_profile',{id:post.author.id})}}" style="color:{{post.author.characterProfile.groupForum.color}};">
                            {{ post.author.characterProfile.characterName }}
                        </a></h4>
                        {% else %}
                        <h4><a href="{{path('user_profile',{id:post.author.id})}}">
                            {{ post.author.username }}
                        </a></h4>
                        {% endif %}
                        <span class="author-rank">{{post.author.characterProfile.rank}}</span>
                    </div>

                    <div id="blocAVA">
                        <div class="blocAVA">
                            <div class="avaPOST">
                                <img src="{{ post.author.characterProfile.avatar }}">
                            </div>
                            <div class="abtPOST">
                                <div class="player-info">
                                    <span class="profile-label">Pseudo :</span> {{ post.author.username }}
                                    <span class="profile-label">Date de naissance :</span> {{post.author.birthdate|date('d-m-Y')}}
                                    <span class="profile-label">Date d'inscription :</span> {{post.author.dateInserted|date('d-m-Y')}}
                                </div>
                                <div class="character-info">
                                    <span class="profile-label">Age :</span> {{ post.author.characterProfile.age }}
                                    <span class="profile-label">Race :</span> {{ post.author.characterProfile.race }}
                                    <span class="profile-label">Classe :</span> {{ post.author.characterProfile.class }}
                                    <span class="profile-label">Classe sociale :</span> {{ post.author.characterProfile.socialCast}}
                                    <span class="profile-label">Localisation :</span> {{ post.author.characterProfile.localisation }}
                                    <span class="profile-label">Faits divers :</span> {{ post.author.characterProfile.miscellaneous }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="author-info">
                        <a href="{{post.author.characterProfile.link1 }}">Présentation</a> <a href="{{post.author.characterProfile.link2 }}">Relations</a>
                    </div>
                </div>
                <div class="right-side" id="post{{ post.id }}">
                    <div class="container container-post">
                        <div class="post-information">
                            <small><a href="#post{{ post.id }}">{{post.thread.title}}</a> posté le {{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }}</small>
                            <a href="#top" title="Aller en haut de la page"><i class="fas fa-arrow-up"></i></a> <a href="#bottom" title="Aller en bas de la page"><i class="fas fa-arrow-down"></i></a>
                            <div class="post-action">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if (app.user.id == post.author.id) or (is_granted('ROLE_MODERATOR')) %}
                                        <a class="link-post-action" href="{{path('post_edit', {'id' : post.id})}}">Editer</a>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <a title="Masquer le post" class="btn-mod" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye-slash"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        {{ post.content|raw }}
                    </div>
                </div>
                
            </div>
            {% elseif post.status == false and is_granted('ROLE_MODERATOR') %}
            <div class="wrapper-flex">
                <div class="left-side">
                    {{ post.author.username }}

                <div id="blocAVA">
                    <div class="blocAVA">
                        <div class="avaPOST">
                            <img src="{{ post.author.characterProfile.avatar }}">
                        </div>
                        <div class="abtPOST">
                            <div>
                                contenu profil
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
                <div class="right-side">
                    <div class="container container-post">
                        <a href="{{path('post_edit', {'id' : post.id})}}">Editer</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a title="Afficher le post" class="btn-mod show" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye"></i></a>
                        {% endif %}
                        {{ post.content|raw }}
                        {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="bottom"></div>
    {{ include('forum/thread/threadaction.html.twig') }}
        
    <div class="thread-moderation">
        {% if is_granted('ROLE_MODERATOR') %}
                {{ form_start(form, {'action': path('thread_move', {'id' : thread.id }), 'method': 'POST', 'attr' : { 'class': 'move-form' }}) }}
                {{form_row(form.subcategory,{'label':false})}}
                    <button class="btn-flex">Déplacer</button>
                {{form_end(form)}}
        {% endif %} 
    </div>         
</div>
{% endblock %}