{% extends 'base.html.twig' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block main %}
<div class="wrapper">
    {{ include('forum/jumbotron.html.twig') }}
    <div id="top"></div>
    {{ include('forum/thread/threadaction.html.twig') }}
    <div class="container container-forum">
        <div class="category-header">
            <div class="title">
                <h2>{{ thread.title }}</h2>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if thread.author.id == app.user.id or is_granted('ROLE_MODERATOR') %}
                    <a title="Modifier le titre du sujet" href="{{path('thread_edit', {'slug' : thread.slug})}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                {% endif %}
            </div>            
        </div>
        {% for post in posts %}
            {% if post.status == true %}
                <div class="wrapper-flex">
                    <div class="left-side">
                        <div class="author-info">
                            <h4><a href="{{path('user_profile',{id:post.author.id})}}" style="color:{{post.author.characterProfile.groupForum.color}};">
                            {% if post.author.characterProfile.characterName != null %}
                                {{ post.author.characterProfile.characterName }}
                            {% else %}
                                {{ post.author.username }}
                            {% endif %}
                            </a></h4>
                            <span class="author-rank">{{post.author.characterProfile.rank}}</span>
                        </div>

                        <div id="container-avatar">
                            <div class="container-avatar">
                                <div class="container-image">
                                    <img src="{{ post.author.characterProfile.avatar }}">
                                </div>
                                <div class="container-about">
                                    <div class="player-info">
                                        <span class="profile-label">Pseudo :</span> {{ post.author.username }}
                                        <span class="profile-label">Date d'inscription :</span> {{post.author.dateInserted|date('d-m-Y')}}
                                    </div>
                                    <div class="character-info">
                                        <span class="profile-label">Age :</span> {{ post.author.characterProfile.age }}
                                        <span class="profile-label">Race :</span> {{ post.author.characterProfile.race }}
                                        <span class="profile-label">Classe :</span> {{ post.author.characterProfile.class }}
                                        <span class="profile-label">Classe sociale :</span> {{ post.author.characterProfile.socialCast}}
                                        <span class="profile-label">Localisation :</span> {{ post.author.characterProfile.localisation }}
                                        <span class="profile-label">Faits divers :</span> {{ post.author.characterProfile.miscellaneous }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="author-info">
                            <a href="{{post.author.characterProfile.link1 }}"><img src="{{ asset('image/presentation.png') }}"></a> <a href="{{post.author.characterProfile.link2 }}"><img src="{{ asset('image/liens.png') }}"></a>
                        </div>
                    </div>
                    <div class="right-side" id="post{{ post.id }}">
                        <div class="container container-post">
                            <div class="post-information">
                                <small><a href="#post{{ post.id }}">{{post.thread.title}}</a> posté le {{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }}</small>
                                <a href="#top" title="Aller en haut de la page"><i class="fas fa-arrow-up"></i></a> <a href="#bottom" title="Aller en bas de la page"><i class="fas fa-arrow-down"></i></a>
                                <div class="post-action">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if (app.user.id == post.author.id) or (is_granted('ROLE_MODERATOR')) %}
                                            <a class="link-post-action" href="{{path('post_edit', {'id' : post.id})}}">éditer</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <a title="Masquer le post" class="btn-mod" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye-slash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="post-information-mobile">
                                <div class="mobile-information">
                                    <div class="avatar-small-mobile">
                                        <img src="{{post.author.characterProfile.avatar}}" class="image">
                                    </div>
                                    <small>
                                        posté par 
                                        <a href="{{path('user_profile',{id:post.author.id})}}" style="color:{{post.author.characterProfile.groupForum.color}};">
                                            {% if post.author.characterProfile.characterName != null %}
                                                {{ post.author.characterProfile.characterName }}
                                            {% else %}
                                                {{ post.author.username }}
                                            {% endif %}
                                        </a> 
                                        le {{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }}
                                    </small>
                                </div>

                                <div class="post-action">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if (app.user.id == post.author.id) or (is_granted('ROLE_MODERATOR')) %}
                                            <a class="link-post-action" href="{{path('post_edit', {'id' : post.id})}}">éditer</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <a title="Masquer le post" class="btn-mod" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye-slash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {{ post.content|raw }}
                        </div>
                    </div>
                </div>
            {% elseif post.status == false and is_granted('ROLE_MODERATOR') %}
                <div class="wrapper-flex hidden-post">
                    <div class="left-side">
                        <div class="author-info">
                            <h4><a href="{{path('user_profile',{id:post.author.id})}}" style="color:{{post.author.characterProfile.groupForum.color}};">
                            {% if post.author.characterProfile.characterName != null %}
                                {{ post.author.characterProfile.characterName }}
                            {% else %}
                                {{ post.author.username }}
                            {% endif %}
                            </a></h4>
                            <span class="author-rank">{{post.author.characterProfile.rank}}</span>
                        </div>

                        <div id="container-avatar">
                            <div class="container-avatar">
                                <div class="container-image">
                                    <img src="{{ post.author.characterProfile.avatar }}">
                                </div>
                                <div class="container-about">
                                    <div class="player-info">
                                        <span class="profile-label">Pseudo :</span> {{ post.author.username }}
                                        <span class="profile-label">Date d'inscription :</span> {{post.author.dateInserted|date('d-m-Y')}}
                                    </div>
                                    <div class="character-info">
                                        <span class="profile-label">Age :</span> {{ post.author.characterProfile.age }}
                                        <span class="profile-label">Race :</span> {{ post.author.characterProfile.race }}
                                        <span class="profile-label">Classe :</span> {{ post.author.characterProfile.class }}
                                        <span class="profile-label">Classe sociale :</span> {{ post.author.characterProfile.socialCast}}
                                        <span class="profile-label">Localisation :</span> {{ post.author.characterProfile.localisation }}
                                        <span class="profile-label">Faits divers :</span> {{ post.author.characterProfile.miscellaneous }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="author-info">
                            <a href="{{post.author.characterProfile.link1 }}"><img src="{{ asset('image/presentation.png') }}"></a> <a href="{{post.author.characterProfile.link2 }}"><img src="{{ asset('image/liens.png') }}"></a>
                        </div>
                    </div>
                    <div class="right-side" id="post{{ post.id }}">
                        <div class="container container-post">
                            <div class="post-information">
                                <small><a href="#post{{ post.id }}">{{post.thread.title}}</a> posté le {{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }}</small>
                                <a href="#top" title="Aller en haut de la page"><i class="fas fa-arrow-up"></i></a> <a href="#bottom" title="Aller en bas de la page"><i class="fas fa-arrow-down"></i></a>
                                <div class="post-action">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if (app.user.id == post.author.id) or (is_granted('ROLE_MODERATOR')) %}
                                            <a class="link-post-action" href="{{path('post_edit', {'id' : post.id})}}">éditer</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <a title="Masquer le post" class="btn-mod" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye-slash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="post-information-mobile">
                                <div class="mobile-information">
                                    <div class="avatar-small-mobile">
                                        <img src="{{post.author.characterProfile.avatar}}" class="image">
                                    </div>
                                    <small>
                                        posté par 
                                        <a href="{{path('user_profile',{id:post.author.id})}}" style="color:{{post.author.characterProfile.groupForum.color}};">
                                            {% if post.author.characterProfile.characterName != null %}
                                                {{ post.author.characterProfile.characterName }}
                                            {% else %}
                                                {{ post.author.username }}
                                            {% endif %}
                                        </a> 
                                        le {{ post.createdAt|date('d-m-Y') }} à {{ post.createdAt|date('H:i') }}
                                    </small>
                                </div>

                                <div class="post-action">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        {% if (app.user.id == post.author.id) or (is_granted('ROLE_MODERATOR')) %}
                                            <a class="link-post-action" href="{{path('post_edit', {'id' : post.id})}}">éditer</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <a title="Afficher le post" class="btn-mod show" href="{{path('hide_post', {'id' : post.id }) }}"><i class="far fa-eye"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {{ post.content|raw }}
                        </div>
                    </div>
                </div>                                        
            {% endif %}
        {% endfor %}
    </div>
    <div id="bottom"></div>
    {{ include('forum/thread/threadaction.html.twig') }}
        
    <div class="thread-moderation">
        {% if is_granted('ROLE_MODERATOR') %}
                {{ form_start(form, {'action': path('thread_move', {'id' : thread.id }), 'method': 'POST', 'attr' : { 'class': 'move-form' }}) }}
                {{form_row(form.subcategory,{'label':false})}}
                    <button class="btn-flex">Déplacer</button>
                {{form_end(form)}}
        {% endif %} 
    </div>         
</div>
{% endblock %}