<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" media="screen and (max-width:900px" href="{{ asset('css/mobile.css') }}">
            <link rel="stylesheet" media="screen and (min-width:901px" href="{{ asset('css/medium.css') }}">
            <link rel="stylesheet" media="screen and (min-width:1200px" href="{{ asset('css/large.css') }}">
            <link rel="stylesheet" media="screen and (min-width:1600px" href="{{ asset('css/superlarge.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
                crossorigin="anonymous">
        {% endblock %}
        <title>{% block title %}Aetherlust{% endblock %}</title>
    </head>
    
    <body>
    {% block body %}

        {% block header %}
            {% block nav %}
            <div class="burger-navbar">
                <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-bars"></i>
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a class="{{ app.request.get('_route') == 'codex' ? 'active' }}" href="{{path('codex')}}">Codex</a>
                        <a class="{{ app.request.get('_route') == 'forum_index' ? 'active' }}" href="{{path('forum_index')}}">Forum</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <a href="{{path('home_backend')}}">Panneau d'administration</a>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{path('user_profile', {'id': app.user.id })}}">Mon profil</a>
                            <a href="{{path('security_logout')}}">Déconnexion</a>
                        {% else %}
                            <a href="{{path('security_registration')}}">Inscription</a>
                            <a href="{{path('security_login')}}">Connexion</a>
                        {% endif %}
                    </div>
                </div>
                <a href="{{ path('homepage') }}"><img class="logo-burger" src="https://nsa39.casimages.com/img/2018/08/12//180812035308814067.png" alt="Logo"></a> 
            </div>

            <div class="fixed-navbar">
                <nav class="navbar">
                    <div class="navbar-left">
                        <ul>
                            <li>
                                <a class="{{ app.request.get('_route') == 'codex' ? 'active' }}" href="{{path('codex')}}">Codex</a>
                            </li>
                            <li>
                                <a class="{{ app.request.get('_route') == 'forum_index' ? 'active' }}" href="{{path('forum_index')}}">Forum</a>
                            </li>
                            <li>
                                <a href="{{ path('room_new') }}">Room</a>
                            </li>
                            {% if is_granted('ROLE_MODERATOR') %}
                            <li>
                                <a href="{{path('home_backend')}}">Admin</a>
                            </li>
                        {% endif %}
                            
                        </ul>
                    </div>
                    <div class="navbar-middle">
                        <a href="{{ path('homepage') }}"><img class="logo" src="{{ asset('image/titlelogo.png') }}" alt="logo"></a>
                    </div>
                    <div class="navbar-right">
                        <ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                Bienvenue <a href="{{path('user_profile', {'id': app.user.id })}}">{{ app.user.username }}</a>
                            </li>
                            <li>
                                <a href="{{path('security_logout')}}">Déconnexion</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{path('security_registration')}}">Inscription</a>
                            </li>
                            <li>
                                <a href="{{path('security_login')}}">Connexion</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            {% endblock %}
        {% endblock %}
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
        {% block footer %}
        <a href="https://twitter.com/KelProjet?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KelProjet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <ul>
                <li>
                    <a href="{{path('CGU')}}">CGU</a>
                </li>
                <li>
                    <a href="{{path('about')}}">About</a>
                </li>
            </ul>
        {% endblock %}
       </footer>
    {% endblock %}
        {% block javascripts %}
         <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% endblock %}
    </body>
</html>
