{% extends 'base.html.twig' %}

{% block main %}
    <div class="wrapper"> 
        <div class="navbar-codex">
            <ul>
                {% for tag in tags %}
                <li>
                    <a href="{{path('search_by_tags',{'id':tag.id})}}">{{tag.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="header-codex">
        </div>
        <div class="last-article">
            <h2>Les dernières publications</h2> 
            {{ include('codex/navbarmobile.html.twig') }}
            {{ form_start(form, {'action': path('search_article'), 'method': 'POST', 'attr' : { 'class': 'search-form' }}) }}
            {{ form_row(form.title) }}
            <button type="submit"><i class="fas fa-search"></i></button>
            {{ form_end(form) }}       
        </div>
    <div class="wrapper-codex">
        {% for article in articles %}
        <section class="container container-index">
            <div class="article-preview">
                <h2><a class="article-link" href="{{ path('article_show',{'id':article.id}) }}">{{article.title}}</a></h2>    
                <p class="preview">{{article.description}} <a href="{{ path('article_show',{'id':article.id}) }}">Lire la suite</a></p>
                <small>Publié le {{article.dateInserted|date("d/m/Y")}}</small>
            </div>
            <div class="tags">
            {% for tag in article.tags %}
                <a class="btn btn-tag" href="{{path('search_by_tags',{'id':tag.id})}}">{{tag.name}}</a>
            {% endfor %}
            </div>
        </section>
        {% endfor %}
    </div>
</div>
{% endblock %}

