{% extends 'base.html.twig' %} 
{% block main %}
{{ include('codex/aside.html.twig') }}
    <div class="wrapper">
        <article class="container container--article">
            <h1>{{article.title}}</h1>
            <div class="article-content">
                {{article.content|raw}}
            </div>
            <small>Publié le {{article.dateInserted|date("d/m/Y")}}.</small>
        </article>
        <section class="container">
            <h2>Commentaires</h2>
            {% for comment in article.comments %}
                <div class="comment">
                    <h4>{{comment.author.username}}</h4> <span>Posté le {{comment.dateInserted|date("d/m/Y")}}</span>
                    <p>{{comment.content}}</p>
                </div>
            {% endfor %}
             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{form_start(form)}}
                 {{ form_widget(form) }}
                 <button type="submit">Valider</button>
                {{form_end(form)}}
            {% endif %}
        </section>
    </div>
{% endblock %}