{% extends 'base.html.twig' %}

{% block title %}Forum {% endblock %}

{% block main %}
<div class="wrapper"> 
    <div class="jumbotron">
        <p>ANNONCES</p>
    </div>

    {% for category in categories %}
    <div class="container container-forum">
        <div class="category-header">
            <h2>{{category.name}}</h2>
        </div>
        {% for subcategory in category.subCategories %}
        {% if subcategory.isPrivate == 0 %}
            <div class="container-subcategory">
                <div class="container description">
                    <h3>
                        <a href="{{path('forum_subcategory', {'name': subcategory.name })}}">{{subcategory.name}}</a>
                    </h3>
                    <p>{{subcategory.reminder}}</p>
                </div>
                <div class="container statistic">
                {# {% for hasReadThread in subcategory.hasReadThreads %}
                    {% if hasReadThread.user.id is defined %}
                        {% if hasReadThread.user.id == app.user.id and hasReadThread.subcategory.id == subcategory.id %}
                            {% if subcategory.threads|length == 0  %} 
                                <img src="{{ asset('image/nonew.png') }}" class="icon">
                            {% elseif hasReadThread.threadCount < subcategory.threads|length %}
                                <img src="{{ asset('image/new.png') }}" class="icon">
                            {% else %}
                                <img src="{{ asset('image/nonew.png') }}" class="icon">
                            {% endif  %}
                        {% endif %} 
                    {% endif %} 
                {% endfor %} #}
                    <small>{{subcategory.threads|length}} Sujets</small>
                </div>
                <div class="container last-message">
                    <a href="#">Dernier sujet</a>
                    <small>15/08/2018</small>
                    <a href="#">Prénom Nom</a>
                </div>
            </div>
        {% else %}
        {% if is_granted('ROLE_MODERATOR') %}
            <div class="container-subcategory">
                <div class="container description">
                    <h3><a href="{{path('forum_subcategory', {'name': subcategory.name })}}">{{subcategory.name}}</a></h3>
                    <p>{{subcategory.reminder}}</p>
                </div>
                <div class="container statistic">
                    <img src="{{ asset('image/nonew.png') }}" class="icon">
                    <small>{{subcategory.threads|length}} Sujets</small>
                </div>
                <div class="container last-message">
                    <a href="#">Dernier sujet</a>
                    <small>15/08/2018</small>
                    <a href="#">Prénom Nom</a>
                </div>
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}