{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}}{% endblock %}

{% block main %}
<div class="wrapper">
    {{ include('forum/jumbotron.html.twig') }}
    {{ include('forum/subcategoryaction.html.twig') }}
    <div class="container container-forum">
    <div class="category-header">
        <h2>{{subcategory.name}}</h2>
        <p>{{subcategory.description}}</p>
    </div>
    {% for thread in threads %}
        <div class="thread">
            <div class="thread-icon">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% for hasReadThread in thread.hasReadThreads %}
                    {% if hasReadThread.user.id is defined %}
                        {% if hasReadThread.user.id == app.user.id and hasReadThread.thread.id == thread.id %}
                            {% if hasReadThread.postCount < thread.posts|length %} 
                                <img src="{{ asset('image/new.png') }}" class="icon">
                            {% else %}
                                <img src="{{ asset('image/nonew.png') }}" class="icon">
                            {% endif  %}
                        {% endif %} 
                    {% endif %} 
                {% endfor %}
            {% else %}
                <img src="{{ asset('image/nonew.png') }}" class="icon">
            {% endif %}
            </div>
            <div class="container thread-description">
                <h3><a href="{{path('thread_show', {'thread_slug': thread.slug })}}">{{thread.title}}</a></h3>
                {% if thread.subtitle is defined %}
                    <p>{{thread.subtitle}}</p>
                {% endif %}
                <div class="last-message-mobile">
                    {% if thread.lastPost != null %}
                        <small>
                            dernier message par <a class="author-name" href="{{path('user_profile',{id:thread.lastPost.author.id})}}" style="color:{{thread.lastPost.author.characterProfile.groupForum.color}};">{{subcategory.lastPost.author.characterProfile.characterName}}</a> 
                            le {{thread.lastPost.createdAt|date('d-m-Y')}} à {{thread.lastPost.createdAt|date('H:i')}}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="thread-author">
                <a href="{{path('user_profile',{id:thread.author.id})}}" style="color:{{thread.author.characterProfile.groupForum.color}};">
                {% if thread.author.characterProfile.characterName != null %}
                    {{thread.author.characterProfile.characterName}}
                {% else %}
                    {{thread.author.username}}
                {% endif %}
                </a>
            </div>
            <div class="container thread-statistic">
                <small>{{thread.posts|length}} Rép.</small>
            </div>
            <div class="container thread-last-message">
            {% if thread.lastPost != null %}
                <small>{{thread.lastPost.createdAt|date('d-m-Y')}}</small>
                    <a href="{{path('user_profile', {id:thread.lastPost.author.id})}}" style="color:{{thread.lastPost.author.characterProfile.groupForum.color}};">
                    {% if thread.lastPost.author.characterProfile.characterName != null %}
                        {{thread.lastPost.author.characterProfile.characterName}}
                    {% else %}
                        {{thread.lastPost.author.username}}
                    {% endif %}
                    </a>
                
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    {{ include('forum/subcategoryaction.html.twig') }}
 </div>

{% endblock %}